body {
    background: gainsboro;
}

.nav-justified{
    margin-bottom: 20px;
}

.detail_circle_group_buttons{
    width: 630px;
}

.circle_list_title, .login_title, .register_title {
    margin-top: 0;
    text-align: center
}

.circle_list_button, .login_button, .register_button {
    width: 100%
}

.create_circle_form .form_submit input:nth-child(1) {
    padding-right: 10px
}

.create_circle_form .create_circle input {
    width: 100%
}

.create_circle_form .create_sector input:nth-child(1) {
    width: 65%;
    display: inline-block
}

.create_circle_form .create_sector input:nth-child(2) {
    width: 23%;
    display: inline-block
}

.create_circle_form .create_sector input:nth-child(3) {
    width: 10%;
    display: inline-block
}

.notes_link_by_list a {
    color: #fff
}

.notes_link_by_list a:nth-child(2) {
    float: right
}

.notes_link_by_list a:nth-child(3) {
    float: right;
    padding-right: 10px
}

.collapse_note {
    padding-top: 10px
}


/*range styles */
.range {
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*width: 200px;*/
    /*margin-top: 10px;*/
    /*transform: translate(-50%, -50%);*/
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59,173,227,1);
    background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
    background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59,173,227,1);
    background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
    background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #0000F0;
    cursor: -webkit-grab;

    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #0000F0;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}


.range.blue::-webkit-slider-thumb {
    border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
    border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
    border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
    border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
    border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
    border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
    border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}