extends layout/base.pug

block content
    .row
        form.jumbotron.col-md-6.col-md-offset-3.create_note_form(method="post" name="form1" action="#" enctype="multipart/form-data")
            h2(style="text-align: center") Создать Заметку
            .form-group.create_note
                input.form-control(name="name" placeholder="Название заметки")
            .form-group
                textarea.form-control#create_note(name="notes_body" placeholder="Текст заметки" rows="3")
            h2(style="text-align: center") Размещение заметки
            mixin sectors(...names)
                select.form-control(name=select_sector)
                    option Выберите сектор
                    each name in names
                        option= name
            +sectors('Путешествие','Общая','Работа')
            +sectors('Виза','Язык','Деньги на сувениры')
            .form-group
                input.form-control(name="layers_number" type="number" placeholder="Уровень срочности")
            .form-group.form_submit
                input.btn.btn-success.btn-block(name="save" type="submit" value="Сохранить заметку" placeholder="Сохранить заметку")
block adding_scripts
    script
        | $('#create_note').wysihtml5({
        |  toolbar: {
        |    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
        |    "emphasis": false, //Italics, bold, etc. Default true
        |    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        |    "html": false, //Button which allows you to edit the generated HTML. Default false
        |    "link": true, //Button to insert a link. Default true
        |    "image": true, //Button to insert an image. Default true,
        |    "color": false, //Button to change color of font
        |    "blockquote": true, //Blockquote
        |  }
        | });
