extends layout/base.pug

block content
    .row
        form.jumbotron.col-md-6.col-md-offset-3.create_circle_form(method="post" name="form1" action="#" enctype="multipart/form-data")
            h2(style="text-align: center") Создать окружность
            .form-group.create_circle
                input.form-control(name="name" value="" placeholder="Название окружности")
            .form-group
                input.form-control(type="number" name="layers_number" value="" placeholder="Колличество уровней")
            h2(style="text-align: center") Создать категории
            .sectors(data-prototype="<div id=\"circle_sectors___name__\" class=\"form-group create_sector\"><input type=\"text\" id=\"circle_sectors___name___name\" name=\"circle[sectors][__name__][name]\" required=\"required\" placeholder=\"Название категории\" class=\"form-control\"/><input type=\"color\" id=\"circle_sectors___name___color\" name=\"circle[sectors][__name__][color]\" required=\"required\" placeholder=\"Цвет\" value=\"#FFD700\" class=\"form-control\"/></div>")
            .form-group.form_submit
                input.btn.btn-success.btn-block(name="save" value="Создать окружность" type="submit")