extends layout/base.pug

block content
    .jumbotron
        h1 Task circles!
        p.lead
            | Task circle!- удобное приложени для управление своими заметками и задачами. Приложение дает визуально
            | простой и понятный
            | интерфейс для управления ими. В основе положена следующая концепция - какая-либо сфера деятельности(это
            | может быть общие дела или конкретный проект) человека представляется в виде окружности. Данная
            | окружность разбивается на секторы по конкретным сферам деятельности или задачам. Внутри окружности
            | существует несколько уровней, соответствующие важности или срочности.
        p
            a.btn.btn-lg.btn-success(href="register.html") Зарегистрироваться
