html
    head
        title Notes Manager - #{title}
        block styles
            link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet")
            link(href="styles/style.css" rel="stylesheet")
            link(href="styles/additional_style.css" rel="stylesheet")
            link(href="styles/font-awesome.min.css" rel="stylesheet")
            link(href="bootstrap/wysiwyg/bootstrap3-wysihtml5.min.css" rel="stylesheet")
            link(href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet")
        block head-scripts
            script(src="//code.jquery.com/jquery-1.10.2.js")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    body
        block main
            .container
                block head
                    .masthead
                        a(href="index.html")#main_logo_link
                            h3 Notes Manager
                                span.label.label-default Beta
                        ul.nav.nav-justified.head_menu.navbar-default
                                li(role="presentation")
                                    a(href="list_circle.html") Список окружностей
                                li(role="presentation")
                                    a(href="list_notes.html") Заметки
                                li(role="presentation")
                                    a(href="create_circle.html") Добавить окружность
                                li(role="presentation")
                                    a(href="create_note.html") Добавить заметку
                                li.active(role="presentation")
                                    a(href="register.html") Регистрация
                block content
                block foot
                    footer.footer
                        p &copy; 2018 TzepArt Company, Inc.
                    block scripts
                        script(src="https://www.gstatic.com/charts/loader.js")
                        script(src="scripts/main.min.js")
                        script(src="bootstrap/js/bootstrap.min.js")
                        script(src="bootstrap/wysiwyg/bootstrap3-wysihtml5.all.min.js")
                    block adding_scripts