{% extends 'base.html.twig' %}

{% block main %}
    <div class="jumbotron"><h1>Task circles!</h1>
        <p class="lead">Task circle!- удобное приложени для управление своими заметками и задачами. Приложение дает
            визуально
            простой и понятный
            интерфейс для управления ими. В основе положена следующая концепция - какая-либо сфера деятельности(это
            может быть общие дела или конкретный проект) человека представляется в виде окружности. Данная
            окружность разбивается на секторы по конкретным сферам деятельности или задачам. Внутри окружности
            существует несколько уровней, соответствующие важности или срочности.</p>
        <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
        </p>
    </div>
{% endblock %}

