{% extends 'base.html.twig' %}

 {% block main %}
     <ul>
         {% for circle in circles %}
             <li><a href="{{ path('notes_manager.circle.view', {id: circle.id}) }}">{{ circle.name }}</a></li>
         {% endfor %}
     </ul>
 {% endblock %}
