{% extends 'base.html.twig' %}

 {% block main %}
     <ul>
         {% for circle in circles %}
             <li><a href="#">{{ circle.name }}</a></li>
         {% endfor %}
     </ul>
 {% endblock %}
