{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <canvas id="canvas" width="600" height="600"></canvas>
            <div style="margin-top: 10px;">
                <div class="detail_circle_group_buttons btn-group"><a class="btn btn-primary btn-lg"
                                                                      id="create_label_link"
                                                                      href="create_note.html?id=1">Добавить
                        заметку</a><a class="btn btn-primary btn-lg" id="pop_label_link" href="" style="display: none;">Посмотреть
                        заметку</a><a class="btn btn-primary btn-lg" href="list_notes.html?id=1">Список заметок</a><a
                            class="btn btn-primary btn-lg" href="circles_edit.html?id=1">Редактировать окружность</a></div>
            </div>
        </div>
    </div>
{% endblock %}

